---
layout: default
title: Home Page
description: We make your baggy shirts fit better
price: 19.95
class: home
---

<div class="banner" style="background-image: url(/images/backgrounds/sunset.jpg);">
	<hgroup class="">
		<img src="/images/logos/logo.png" alt="" style="display: block;"/>
		<h1>Sunset Farm <strong>Projects</strong></h1>
	</hgroup>
</div>

Events
{% for event in site.events %}
  <div>
    <div>
      <h3>{{ event.title }}</h3>
      <h4>{{ event.date }}</h4>
      <p class="text-muted">{{ event.content }}</p>
  </div>
{% endfor %}

--------------

Projects
{% for project in site.projects %}
  <div>
      <h3>{{ project.title }}</h3>
      <p>{{ project.content }}</p>
  </div>
{% endfor %}

<ul class="blogposts">
	{% for post in site.posts %}
		<li>
			<a href="{{ post.url }}">
				<div class="postbanner" style="background-image: url({{ post.bannerimage }});"></div>
				<!--<h3>{{ post.category }}</h3>-->
				<h2>{{ post.title }}</h2>
				{{ post.excerpt }}
			</a>
		</li>
	{% endfor %}
</ul>