---
layout: default
title: Home Page
description: A site about the sunset farm projects
class: home
---

<div class="banner" style="background-image: url(/images/backgrounds/sunset.jpg);">
	<hgroup class="">
		<!--<img src="/images/logos/logo.png" alt="" style="display: block;"/>-->
		<h1>Sunset Farm Projects</h1>
	</hgroup>
</div>

<ul class="blogposts">
	<h2>Enterprises</h2>
	{% for post in site.projects %}
		{% if post.title != 'meetings' %}
			<li>
				<a href="{{ post.url }}">
					<div class="postbanner" style="background-image: url({{ post.bannerimage_path }});"></div>
					<!--<h3>{{ post.category }}</h3>-->
					<h2>{{ post.title }}</h2>
					{{ post.excerpt }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<div class="events">
	<h2>Schedule</h2>
	<p style="text-align: center;">Workdays are scheduled every 1st and 2nd Saturdays.</p>
	<ul id="events">
	{% assign sorted_events = (site.events | sort: "_datetime") %}
	{% for event in sorted_events %}
	
	{% capture eventdate %}{{ event.event_datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
	{% capture pagedate %}{{ page.date  | date: "%Y-%m-%-e" }}{% endcapture %}
	
		<li data-event-date="{{ event.event_datetime | date: "%d-%b-%Y" }}" data-event-date2="{{ event.event_datetime | date: "%Y-%m-%-e" }}" class="event">
			<div>
				<span class="month">{{ event.event_datetime | date: "%b" }}</span>
				<span class="date">{{ event.event_datetime | date: "%-d" }}</span>
			</div>
			<hgroup>
				<h2>{{ event.title }}</h2>
				<h3>{{ event.event_datetime | date: "%A %l:%M %p" }}</h3>
			</hgroup>
			<p>{{ event.content }}</p>
		</li>

	{% endfor %}
	</ul>	
</div>