{% for event in sorted_events  %}

{% capture eventdate %}{{ event.event_datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
{% capture currentdate %}{{ 'now' | date: "%Y-%m-%-e" }}{% endcapture %}
	
	
	<li data-event-date="{{ event.event_datetime | date: "%Y/%m/%d" }}" class="event">
		<div>
			<span class="month">{{ event.event_datetime | date: "%b" }}</span>
			<span class="date">{{ event.event_datetime | date: "%-d" }}</span>
		</div>
		<hgroup>
			<h2>{{ event.title }}</h2>
			<h3>{{ event.event_datetime | date: "%A %l:%M %p" }}</h3>
		</hgroup>
		<p>{{ event.content }}</p>
	</li>
	
{% endfor %}