<footer>
	<div>
		<a href="/"><img src="/images/logos/logo.png" alt="Custom Cut Shirts Logo" class="footer-logo"/><span>Sunset Farm Projects</span></a>
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
		<!--<section class="social">
			<a href="https://www.facebook.com/customcutshirts/"><span class="fa fa-facebook-official"></span></a>
			<a href="https://www.instagram.com/customcutshirts/"><span class="fa fa-instagram"></span></a>
			<a href="https://www.pinterest.com/customcutshirts/"><span class="fa fa-pinterest"></span></a>
			<a href="https://twitter.com/customcutshirts"><span class="fa fa-twitter"></span></a>
		</section>-->
		
		<!--<nav>
			<a href="/blog">Blog</a>
			<a href="/frequently-asked-questions">FAQ</a>
			<!--<a href="/about-us">About Us</a>--*>
		</nav>-->
		
		<!--<p><span>(435) 212-3705</span>-->
		<!--<span>kevin@customcutshirts.com</span></p>-->
		<p>© Copyright 2016. Sunset Farm Projects. All Rights Reserved.</p>
	</div>
</footer>