---
layout: default
title: Management Reporting
description:
navclass: management
navtitle: management
---
<div class="banner" style="background-image: url(/images/backgrounds/sunset.jpg);">
	<hgroup>
		<h1>{{ page.title }}</h1>
	</hgroup>
</div>


<section class="managers">
	<h2>Managers</h2>
	<ul>
		<li>
			<h3>Aaron Dockstader</h3>
			<h4>Construction Manager</h4>
		</li>
		<li>
			<h3>Charles Bradshaw</h3>
			<h4>Dairy Manager</h4>
		</li>
		<li>
			<h3>Lorin Hammon</h3>
			<h4>Pork Manager</h4>
		</li>
		<li>
			<h3>Matthew Dockstader</h3>
			<h4>Chicken Manager</h4>
		</li>
		<li>
			<h3>Allen Zitting</h3>
			<h4>Manager of New Fields</h4>
		</li>
		<li>
			<h3>Alma Hammon</h3>
			<h4>Manager of Barn Fields</h4>
		</li>
		<li>
			<h3>Richard Timpson</h3>
			<h4>Accounting Manager</h4>
		</li>
		<li>
			<h3>James Timpson</h3>
			<h4>Sales Manager</h4>
		</li>
		<li>
			<h3>Samuel Timpson</h3>
			<h4>Meat Processing Manager</h4>
		</li>
		<li>
			<h3>Jared Barlow</h3>
			<h4>Equipment Manager</h4>
		</li>
		<li>
			<h3>Marion Timpson </h3>
			<h4>Communications Manager</h4>
		</li>
	</ul>      
</section>



<div class="events">
	<h2>Upcoming Meetings</h2>
	<ul id="events">
	{% assign sorted_events = (site.events | sort: "event_datetime") %}
	{% for event in sorted_events %}
	
		{% capture eventdate %}{{ event.event_datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
		{% capture pagedate %}{{ page.date  | date: "%Y-%m-%-e" }}{% endcapture %}
	
		{% if event.project == 'management' %}
		<li data-event-date="{{ event.event_datetime | date: "%d-%b-%Y" }}" data-event-date2="{{ event.event_datetime | date: "%Y-%m-%-e" }}" class="event">
			<div>
				<span class="month">{{ event.event_datetime | date: "%b" }}</span>
				<span class="date">{{ event.event_datetime | date: "%-d" }}</span>
			</div>
			<hgroup>
				<h2>{{ event.title }}</h2>
				<h3>{{ event.event_datetime | date: "%A %l:%M %p" }}</h3>
			</hgroup>
			<p>{{ event.content }}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>	
</div>

<section class="downloads editable" style="text-align: center; padding: 48px 0;">
	<h2>Documents</h2>
	<a href="/resources/projects.xlsx">Download: Enterprise &amp; Projects Quarterly</a>
	<br /><br />
	<a href="/resources/policyforcashdisbursementsr1.docx.pdf">Policy For Cash Disbursement</a>
	<br /><br />
	<a href="/resources/pur req scg.xls">Purchase Requisition Form</a>
</section>