---
layout: default
title: Management Reporting
description:
navclass: management
navtitle: management
---
<div class="banner" style="background-image: url(/images/backgrounds/sunset.jpg);">
	<hgroup>
		<h1>{{ page.title }}</h1>
	</hgroup>
</div>


<section class="managers">
	<h2>Managers</h2>
	<ul>
		<li>
			<h3>Aaron Dockstader</h3>
			<h4>Construction Manager</h4>
			<h5></h5>
		</li>
		<li>
			<h3>Charles Bradshaw</h3>
			<h4>Dairy Manager</h4>
		</li>
		<li>
			<h3>Lorin Hammon</h3>
			<h4>Pork Manager</h4>
			<h5>(435) 467-8251</h5>
		</li>
		<li>
			<h3>Matthew Dockstader</h3>
			<h4>Chicken Manager</h4>
			<h5>(435) 212-0037</h5>
		</li>
		<li>
			<h3>Allen Zitting</h3>
			<h4>Manager of New Fields</h4>
		</li>
		<li>
			<h3>Alma Hammon</h3>
			<h4>Manager of Barn Fields</h4>
		</li>
		<li>
			<h3>Richard Timpson</h3>
			<h4>Accounting Manager</h4>
		</li>
		<li>
			<h3>James Timpson</h3>
			<h4>Sales Manager</h4>
		</li>
		<li>
			<h3>Samuel Timpson</h3>
			<h4>Meat Processing Manager</h4>
			<h5>(435) 212-3048</h5>
		</li>
		<li>
			<h3>Jared Barlow</h3>
			<h4>Equipment Manager</h4>
		</li>
		<li>
			<h3>Marion Timpson </h3>
			<h4>Communications Manager</h4>
		</li>
		<li>
		    <h3>David Dockstader, Jr.</h3>
		    <h4>Concrete</h4>
		    <h5>(928) 875-2128 or (435) 680-2128</h5>
		</li>
		<li>
		    <h3>Alma Hammon</h3>
		    <h4>Missionaries</h4>
		    <h5>(435) 467-3544</h5>
		</li>
		<li>
		    <h3>Arthur Hammon</h3>
		    <h4>Missionaries</h4>
		    <h5>(435) 632-0529</h5>
		</li>
		<li>
		    <h3>Levi Hammon</h3>
		    <h4>Construction</h4>
		    <h5>(435) 616-8452</h5>
		</li>
		<li>
		    <h3>Arthur Hammon</h3>
		    <h4>Missionaries</h4>
		    <h5>(435) 632-0529</h5>
		</li>
	</ul>      
</section>


<section class="managers">
	<h2>Committee Heads</h2>
	<ul>
		<li>
			<h3>Marie Timpson</h3>
			<h4>(435) 691-4807</h4>
		</li>
		<li>
			<h3>Priscilla Timpson</h3>
			<h4>(435) 467-3844</h4>
		</li>
		<li>
			<h3>Hellen Hammon</h3>
			<h4>(435) 212-3032</h4>
		</li>
		<li>
			<h3>Guinevere Dutson</h3>
			<h4>(435) 467-9039</h4>
		</li>
		<li>
			<h3>Erin H. Timpson</h3>
			<h4>(435) 616-3746</h4>
		</li>
		<li>
			<h3>Ellie Timpson</h3>
			<h4>(435) 467-8010</h4>
		</li>
		<li>
			<h3>Dianne Timpson</h3>
			<h4>(435) 212-0666</h4>
		</li>
		<li>
			<h3>Alyne J. Timpson</h3>
			<h4>(435) 212-0452</h4>
		</li>
		<li>
			<h3>Jeanetta Hammon</h3>
			<h4>(435) 616-8152</h4>
		</li>
		<li>
			<h3>Rachel Dockstader</h3>
			<h4>(435) 212-0718</h4>
		</li>
	</ul>      
</section>


<!--<div class="events">
	<h2>Upcoming Meetings</h2>
	<ul id="events">
	{% assign sorted_events = (site.events | sort: "event_datetime") %}
	{% for event in sorted_events %}
	
		{% capture eventdate %}{{ event.event_datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
		{% capture pagedate %}{{ page.date  | date: "%Y-%m-%-e" }}{% endcapture %}
	
		{% if event.project == 'management' %}
		<li data-event-date="{{ event.event_datetime | date: "%d-%b-%Y" }}" data-event-date2="{{ event.event_datetime | date: "%Y-%m-%-e" }}" class="event">
			<div>
				<span class="month">{{ event.event_datetime | date: "%b" }}</span>
				<span class="date">{{ event.event_datetime | date: "%-d" }}</span>
			</div>
			<hgroup>
				<h2>{{ event.title }}</h2>
				<h3>{{ event.event_datetime | date: "%A %l:%M %p" }}</h3>
			</hgroup>
			<p>{{ event.content }}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>	
</div>-->





<!--<div class="events">
	<h2>Upcoming Meetings</h2>
	<!--<p style="text-align: center;">Workdays are scheduled every 1st and 2nd Saturdays.</p>--*>
	<ul id="events">
	{% assign sorted_events = (site.events | sort: "event_datetime") %}
	{% for event in sorted_events %}
	
	{% capture eventdate %}{{ event.event_datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
	{% capture currentdate %}{{ 'now' | date: "%Y-%m-%-e" }}{% endcapture %}
		
		{% if eventdate >= currentdate %}
		{% if event.project == 'management' %}
		<li data-event-date="{{ event.event_datetime | date: "%Y/%m/%d" }}" class="event">
			<div>
				<span class="month">{{ event.event_datetime | date: "%b" }}</span>
				<span class="date">{{ event.event_datetime | date: "%-d" }}</span>
			</div>
			<hgroup>
				<h2>{{ event.title }}</h2>
				<h3>{{ event.event_datetime | date: "%A %l:%M %p" }}</h3>
			</hgroup>
			<p>{{ event.content }}</p>
		</li>
		{% endif %}
		{% endif %}
	{% endfor %}
	</ul>	
</div>


<script type="text/javascript">
	var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var today = d.getFullYear() + '/' +
        ((''+month).length<2 ? '0' : '') + month + '/' +
        ((''+day).length<2 ? '0' : '') + day;

    $( ".event" )
    	.filter(function( index ) {
    		return $(this).data('event-date') <= today;
    }).addClass('old');
    
    $( ".yyy" ).html( today );
</script>-->






<div class="downloads editable" style="text-align: center; padding: 48px 0; background: #f2f2f2;">
	<h2>Documents</h2>
	<a href="/resources/projects.xlsx">Download: Enterprise &amp; Projects Quarterly</a>
	<br /><br />
	<a href="/resources/policyforcashdisbursementsr1.docx.pdf">Policy For Cash Disbursement</a>
	<br /><br />
	<a href="/resources/pur req scg.xls">Purchase Requisition Form</a>
</div>