---
layout: default
title: Management Reporting
description:
navclass: management
navtitle: management
---
<div class="banner" style="background-image: url(/images/backgrounds/sunset.jpg);">
	<hgroup>
		<h1>{{ page.title }}</h1>
	</hgroup>
</div>

<div class="downloads editable" style="text-align: center;"><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><br /><a href="/resources/projects.xlsx">Download: Enterprise &amp; Projects Quarterly</a><br /><br /><a href="/resources/policyforcashdisbursementsr1.docx.pdf">Policy For Cash Disbursement</a></p><p>&nbsp;</p><p><a href="/resources/pur req scg.xls">Purchase Requisition Form</a><br />&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div>

<div class="events">
	<h2>Upcoming Meetings</h2>
	<ul id="events">
	{% assign sorted_events = (site.events | sort: "event_datetime") %}
	{% for event in sorted_events %}
	
	{% capture eventdate %}{{ event.event_datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
	{% capture pagedate %}{{ page.date  | date: "%Y-%m-%-e" }}{% endcapture %}
	
		{% if event.project == 'management' %}
		<li data-event-date="{{ event.event_datetime | date: "%d-%b-%Y" }}" data-event-date2="{{ event.event_datetime | date: "%Y-%m-%-e" }}" class="event">
			<div>
				<span class="month">{{ event.event_datetime | date: "%b" }}</span>
				<span class="date">{{ event.event_datetime | date: "%-d" }}</span>
			</div>
			<hgroup>
				<h2>{{ event.title }}</h2>
				<h3>{{ event.event_datetime | date: "%A %l:%M %p" }}</h3>
			</hgroup>
			<p>{{ event.content }}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>	
</div>