---
layout: default
---

<div class="banner half blog-post" style="background-image: url({{ page.bannerimage_path }});">
	<hgroup class="">
		<h1>{{ page.title }}</h1>
	</hgroup>
</div>
<article>
	{{ content }}
</article> 

<div class="events">
	<h2>Upcoming Events</h2>
	<ul id="events">
	{% assign sorted_events = (site.events | sort: "_datetime") %}
	{% for event in sorted_events %}
	
	{% capture eventdate %}{{ event._datetime  | date: "%Y-%m-%-e" }}{% endcapture %}
	{% capture pagedate %}{{ page.date  | date: "%Y-%m-%-e" }}{% endcapture %}
	
		{% if page.title == event.project and eventdate > pagedate %}
		<li data-event-date="{{ event._datetime | date: "%d-%b-%Y" }}" data-event-date2="{{ event._datetime | date: "%Y-%m-%-e" }}" class="event">
			<div>
				<span class="month">{{ event._datetime | date: "%b" }}</span>
				<span class="date">{{ event._datetime | date: "%-d" }}</span>
			</div>
			<hgroup>
				<h2>{{ event.title }}</h2>
				<h3>{{ event._datetime | date: "%A %l:%M %p" }}</h3>
			</hgroup>
			<p>{{ event.content }}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>	
</div>

<script type="text/javascript">
    // Hide Past Posts
    var date = new Date(),
    var currentDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
    $(".event").each(function() {
    	var specifiedDate = $(this).attr('data-event-date2');
    	
    	if ($(this).attr('data-event-date2') > currentDate) {
    		$(this).addClass('today');
    	} else if (currentDate > $(this).attr('data-event-date2')) {
    		$(this).addClass('past');
    	} else {
    		$(this).addClass('future');
    	}
    });
	})(jQuery);
</script>