---
layout: default
---

<div class="banner half blog-post" style="background-image: url({{ page.bannerimage_path }});">
	<hgroup class="">
		<h1>{{ page.title }}</h1>
	</hgroup>
</div>
<article>
	{{ content }}
</article> 

<div class="events">
	<h2>Upcoming Events</h2>
	<ul id="events">
	{% assign sorted_events = site.events | where:"project",page.title  | sort: "_datetime" %}
	{% include events.html %}
	</ul>	
</div>

<script type="text/javascript">
	var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var today = d.getFullYear() + '/' +
        ((''+month).length<2 ? '0' : '') + month + '/' +
        ((''+day).length<2 ? '0' : '') + day;

    $( ".event" )
    	.filter(function( index ) {
    		return $(this).data('event-date') <= today;
    }).addClass('old');
    
    $( ".yyy" ).html( today );
</script>